:root {
  --uid-color-zinc-50:   #fafafa;
  --uid-color-zinc-100:  #f4f4f5;
  --uid-color-zinc-200:  #e4e4e7;
  --uid-color-zinc-300:  #d4d4d8;
  --uid-color-zinc-400:  #a1a1aa;
  --uid-color-zinc-500:  #71717a;
  --uid-color-zinc-600:  #52525b;
  --uid-color-zinc-700:  #3f3f46;
  --uid-color-zinc-800:  #27272a;
  --uid-color-zinc-900:  #18181b;
  --uid-color-zinc-950:  #09090b;

  --uid-color-teal-50:   #f0fdfa;
  --uid-color-teal-100:  #ccfbf1;
  --uid-color-teal-300:  #5eead4;
  --uid-color-teal-400:  #2dd4bf;
  --uid-color-teal-500:  #14b8a6;
  --uid-color-teal-600:  #0d9488;
  --uid-color-teal-700:  #0f766e;
  --uid-color-teal-900:  #134e4a;

  --uid-color-rose-50:   #fff1f2;
  --uid-color-rose-400:  #fb7185;
  --uid-color-rose-500:  #f43f5e;
  --uid-color-rose-600:  #e11d48;
  --uid-color-rose-700:  #be123c;
  --uid-color-rose-950:  #4c0519;

  --uid-color-emerald-50:   #ecfdf5;
  --uid-color-emerald-400:  #34d399;
  --uid-color-emerald-600:  #059669;
  --uid-color-emerald-950:  #022c22;

  --uid-color-amber-50:   #fffbeb;
  --uid-color-amber-400:  #fbbf24;
  --uid-color-amber-600:  #d97706;
  --uid-color-amber-950:  #451a03;

  --uid-color-blue-50:   #eff6ff;
  --uid-color-blue-400:  #60a5fa;
  --uid-color-blue-600:  #2563eb;
  --uid-color-blue-950:  #172554;

  --uid-color-white: #ffffff;
}
